:root {
  --code-gray: #141414;
  --green-spring: #bac4b8;
}

::-moz-selection {
  color: var(--code-gray);
  background: var(--green-spring);
}

::selection {
  color: var(--code-gray);
  background: var(--green-spring);
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../public/fonts/NeueMontreal-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../public/fonts/NeueMontreal-Regular.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../public/fonts/NeueMontreal-Medium.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../public/fonts/NeueMontreal-Bold.otf") format("opentype");
  font-weight: 800;
}

@font-face {
  font-family: "Timmons Ny";
  src: url("../public/fonts/Timmons-Ny-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Neue World Condensed Light";
  src: url("../public/fonts/NeueWorld-CondensedLight.otf");
  font-weight: "Condensed Light";
}

/* global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  background: var(--code-gray);
  color: var(--green-spring);
  overflow-x: hidden;
  font-family: "Neue Montreal", sans-serif;
  text-transform: uppercase;
}

/* header */

header {
  /* border: 1px solid var(--green-spring); */
  margin: 1em 0 0em 0;
  padding: 3em 1em;
}

header h1 {
  font-family: "Neue World Condensed Light";
  font-weight: 500;
  font-size: 18vw;
  line-height: 80%;
  letter-spacing: -2px;
}

/* socials */

.socials {
  padding: 3em 1em;
}

.socials .social-links .link {
  margin: 1em 0;
}

.socials .social-links .link a {
  font-family: "Neue World Condensed Light";
  text-decoration: none;
  color: var(--green-spring);
  line-height: 80%;
  font-size: 18vw;
  letter-spacing: -2px;
}

/* footer */

footer {
  padding: 1em;
  margin: 0 0 2em 0;
  display: flex;
  flex-direction: column;
}

footer p {
  line-height: 120%;
  font-size: 10px;
  font-weight: 700;
}

/* desktop version */

.desktop-version {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.desktop-version p {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 120%;
  font-size: 40px;
  font-weight: 700;
}
